// Fonts
body {
  font-family: "silkaregular";
}

.text-h6 {
  font-weight: 600;
}

// Light/Dark Theme
body.body--light {
  // background: ;
  // background: $grey-0;
  .inputCard,
  .dialogCard {
    background: $white;
    color: $dark-0;
  }
  .selectorContainer {
    border-color: rgba($dark, 0.8);
    color: $dark-1;
    &:hover {
      background: rgba($dark, 0.2);
    }
  }
  .text-h6 {
    color: $dark-0;
  }
}

body.body--dark {
  background-image: linear-gradient(
    to right bottom,
    $blueDark 20%,
    $purpleBright 80%
  );
  color: $white;
  .inputCard {
    background: rgba($purpleDark, 0.5);
    color: $white;
  }
  .dialogCard {
    background: $dark-1;
    color: $white;
  }
  .selectorContainer {
    // border-color: rgba($blueDark, 0.5);
    background: $grey-0;
    color: $dark;
    &:hover {
      background: rgba($grey-0, 0.85);
      border-color: $white;
    }
  }
  .text-h6 {
    color: $dark;
    // font-family: "silkamedium";
  }
}

// Cards & Dialogs
.inputCard {
  padding: 30px;
  border-radius: 20px;
  @media only screen and (max-width: 800px) {
    padding: 15px;
  }
}

.q-dialog__inner > div {
  border-radius: 20px;
}

// Coin & network selectors
.selectorContainer {
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 15px;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 3rem;
    height: 3rem;
  }
}
