// TODO Customize scrollbar style

// Fonts
body {
  font-family: "silkaregular";
}

.selectorContainer .text-h6 {
  font-weight: 600;
}

.dialogCard {
  .text-h6 {
    font-size: 1.2rem;
  }
}

// Light/Dark Theme
body.body--light {
  // background: ;
  // background: $grey-0;
  background-image: linear-gradient(
    to right bottom,
    $purpleGrey 10%,
    $white 90%
  );
  .inputCard {
    background: $white;
    color: $dark-0;
  }
  .dialogCard {
    background: #f5f1ff;
    color: $dark-0;
    .dialogHeader {
      color: $grey;
    }
  }
  .selectorContainer {
    // border-color: rgba($dark, 0.8);
    border-color: transparent;
    background: $purpleGrey;
    color: $dark-1;
    &:hover {
      background: rgba($dark, 0.2);
    }
    .text-h6 {
      color: $dark-0;
    }
  }
}

body.body--dark {
  background-image: linear-gradient(
    to right bottom,
    $blueDark 20%,
    $purpleBright 80%
  );
  color: $white;
  .inputCard {
    background: rgba($purpleDark, 0.5);
    color: $white;
  }
  .dialogCard {
    background: $dark-1;
    color: $white;
  }
  .selectorContainer {
    // border-color: rgba($blueDark, 0.5);
    background: $grey-0;
    color: $dark;
    &:hover {
      background: rgba($grey-0, 0.85);
      border-color: $white;
    }
    .text-h6 {
      color: $dark;
    }
  }
}

// Defines
.slim-scrollbar {
  /* custom scrollbar */
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: #d6dee1;
    background-color: rgba($white, 0.5);
    border-radius: 1rem;
    border: 0.1rem solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($white, 0.9);
  }
}

// Cards & Dialogs
.inputCard {
  padding: 30px;
  border-radius: 20px;
  @media only screen and (max-width: 800px) {
    padding: 15px;
  }
}

.q-dialog__inner > div {
  border-radius: 20px;
}

.dialogCard {
  // @extend .slim-scrollbar;

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  height: 80vh;
}
.dialogHeader {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background: inherit;
}
.dialogList {
  z-index: -1;
}

// Coin & network selectors
.selectorContainer {
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 15px;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 3rem;
    height: 3rem;
  }
}
