// Palette
$purpleBright   : #814cdc;
$purpleDark     : #23195e;
$purpleSoft     : #7772ac;
$blueDark       : #091d5c;
$blueLight      : #2fd7fe;
$white          : #e2dfee;
$red            : #bd2677;
$green          : #55c3b3;
$yellow         : #F2C037;

$dark-0         : $purpleDark;
$dark-1         : $blueDark;

// Presets
$primary   : $purpleBright;
$secondary : $white;
$accent    : $blueLight;

$dark      : $purpleDark;

$positive  : $green;
$negative  : $red;
$info      : $white;
$warning   : $yellow;

// Corner radius
$button-border-radius   : 10px !default;
$generic-border-radius  : 10px !default;
$card-corner-radius     : 20px;
