// Palette
$purpleBright   : #814cdc;
$purpleDarkMode : #3d1d74;
$purpleDark     : #23195e;
$purpleSoft     : #7772ac;
$purpleGrey     : #f3f2ff;
$blueDark       : #182244;
$mainCardDarkMode : #231a5d;
$footerDarkMode : #3d1d74;
$navbarDarkMode : #263971;
$inputCardDarkMode : $navbarDarkMode;
// $inputCardDarkMode : #263971;
// $navbarDarkMode : #091d5a;
// $navbarDarkMode : #263971;
// $navbarDarkMode : #242757;
// $navbarDarkMode : #0c1535;
$blueLight      : #2fd7fe;
$plainWhite     : #ffffff;
$white          : #e3def7;
$red            : #bd2677;
$green          : #55c3b3;
$yellow         : #F2C037;
$black          : #000000;

$dark-0         : #1c075e;
$dark-1         : #23195e;
$dark-2         : #191b1f;

$grey-0         : #d4ceeb;
$gray-200       : #b8b8b8;
$gray-400       : #6e6e6e;
$gray-600       : #414141;

// Presets
$primary   : #814cdc;
$secondary : #e3def7;
$accent    : #2fd7fe;

$dark      : #23195e;

$positive  : #55c3b3;
$negative  : #bd2677;
$info      : #e3def7;
$warning   : #F2C037;

// Corner radius
$button-border-radius   : 15px !default;
$generic-border-radius  : 10px !default;
$gradient-2 : linear-gradient(180deg, #071A5F 0%, #571AFF 147.34%);
$bridgeButton : rgb(85,42,248);